@import "tailwindcss";
@source "../../vendor/awcodes/filament-curator/resources/**/*.blade.php";
@theme {
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-info-500: var(--info-500);
}

@import "../../vendor/awcodes/filament-curator/resources/css/plugin.css";

.fi-modal-window:has(.curator-panel) {
    @apply max-w-7xl mx-auto my-8 h-[90vh] rounded-3xl shadow-2xl overflow-hidden;
}

.fi-modal-window:has(.curator-panel) .fi-modal-window-content {
    @apply h-full rounded-3xl overflow-hidden;
}
